<h1 style="font-family: cursive; font-size: 80px; color:blue;">Index</h1>
<br><br>

- List Comprehension
- String Formating
- Numeric Function
- Use of all, any and enumerate
- Functional Programming(Theory)
- Lambda
    - Map
    - Filter
- Generators  
- Decorators
- Recursion
- Set

# List Comprehensions:
- We can create a Modifiyed List from exsisting List.

In [1]:
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

To form new List from Exsisting.

In [2]:
cube=[i**3 for i in l]
cube

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

With Condtion

In [3]:
cube_even=[i**3 for i in l if i%2==0]
cube_even

[0, 8, 64, 216, 512]

Take input, separated by sapce, we can take as many as we want.

In [4]:
l=[i for i in input().split()]
l

1 2 3 4 5 6 7

['1', '2', '3', '4', '5', '6', '7']

**Limitation**
- memory Error Occure when we use lot of memory

`     [2*i for i in range(10**100)]            `

# String Formating

Type 1

In [5]:
num=[4,5,6]
msg="Numbers are : {0}  {1}  {2}".format(num[0],num[1],num[2]) 
msg

'Numbers are : 4  5  6'

In [6]:
num=[4,5,6]
msg="Numbers are : {1}  {2}  {0}".format(num[0],num[1],num[2])
msg               # This {1},{2},{3} are order

'Numbers are : 5  6  4'

Type 2

In [7]:
print("my name is {}".format('Monis'))

my name is Monis

Type 3

In [8]:
n="monis"
a=21
print(f"My name is {n} and age is {a}")

My name is monis and age is 21

In [9]:
a=21.4533
print(f"My age is {a}")

My age is 21.4533

# Numeric Function

- To find min and max function, `min(list) and max(list)`
- To find sum of list , ` sum(list)`
- To find distance of number from zero use `abs(list)` and distance is never negative.

In [10]:
print(min([1,2,3,4]))

1

In [11]:
print(max([1,2,3,4]))

4

In [12]:
print(sum([1,2,3,4]))

10

In [13]:
print(abs(4))

4

In [14]:
print(abs(-4))

4

In [15]:
l=[1,2,3,4,5]
print(sum(l))

15

### Q )

In [16]:
print(min([sum([11,22]),max(abs(-30),2)]))

30

# Use of `all`, `any` and `enumerate`

## ` all  `

In [17]:
num=[55,44,33,22,11]
if all([i>5 for i in num]):
    print("All are larger than 5")
else:
    print("No")

All are larger than 5

##  `  any  `

In [18]:
num=[55,44,33,22,11]
if any([i%2==0 for i in num]):
    print("At least one is even")
else:
    print("No")

At least one is even

## `   enumerate     `

In [19]:
num=[55,44,33,22,11]
for v in enumerate(num):
    print(v)

(0, 55)
(1, 44)
(2, 33)
(3, 22)
(4, 11)

# Text Analyzer

- Here we will learn using def to count character in the file.

In [20]:
f=open("text_analyzer_file",'w')
f.write("i am monis momin\ni carry the ambision to become a great programmer in this world as ever known\ni am looking forward to work in data")
f.close()

In [21]:
f=open("text_analyzer_file",'r')
print(f.read())
f.close()

i am monis momin
i carry the ambision to become a great programmer in this world as ever known
i am looking forward to work in data

In [22]:
def count_char(text,char):
    count=0
    for i in text:
        if i==char:
            count+=1
    return count
with open('text_analyzer_file') as f:
    text=f.read()

for char in "abcdefghijklmnopqrstuvwxyz \n":
    per=100*count_char(text,char)/len(text)
    if char=="\n":
        print("{0}-- {1}%".format('New_Line',round(per,2)))
    elif char==' ':
        print('{0}--{1}'.format("Space",round(per,2)))
    else:
        print('{0}--{1}'.format(char,round(per,2)))

a--8.4
b--1.53
c--1.53
d--2.29
e--5.34
f--0.76
g--2.29
h--1.53
i--8.4
j--0.0
k--2.29
l--1.53
m--6.87
n--6.11
o--9.92
p--0.76
q--0.0
r--8.4
s--3.05
t--4.58
u--0.0
v--0.76
w--3.05
x--0.0
y--0.76
z--0.0
Space--18.32
New_Line-- 1.53%

### Q ) Find the word in String

- We use `find()` method & it will return index.

In [23]:
x="Monis Momin"
y=x.find('s')
print(y)

4

# Functional Programming

##  Higher-order Function

- Take other function as argument or return them as result

In [24]:
def apply_twice(fun,x):
    return fun(fun(x))
def add_five(x):
    return x+5


print(apply_twice(add_five,10))

20

## Pure Function

- Pure function has no side effects and return value that depend only on their argument.

In [25]:
def pure_fun(x,y):
    temp=x+2*y
    return (temp/2)*x+y

pure_fun(10,5)

105.0

## Impure Function

- If function affect the global object then that function is not pure.

In [26]:
l=[]
def impure(arg):
    l.append(arg)
impure(2)
print(l)

[2]

The above function, change the state of list-> l.

###  Q) What is named function.

Normal function i.e which is created by `def `

# Lambda

- It has special syntax i.e lambda syntax
- Function created by this way is called **anonymous**.
- This named is getted from lambda calculus, which is a model of computation invented by **Alonzo Church**.
- This function aren't powerfull as named function, all experation aren't be calculated

In [27]:
print((lambda x:x+2)(2))

4

It can be used as normal function like

In [28]:
y=lambda x:x*2
print(y(7))

14

###  Q) What is an output?

In [29]:
triple=lambda x:x*3
add=lambda x,y:x+y
print(add(triple(3),1))

10

## Map

- To do operation in iterables we use this function.

**List or Similar object called iterables**

Named Function

In [30]:
def add_five(x):
    return x+5
l=[1,2,3,4]
result=list(map(add_five,l))
print(result)

[6, 7, 8, 9]

Anonymous Function i.e lambda syntax.

In [31]:
l=[1,2,3,4]
result=list(map(lambda x:x+5,l))
print(result)

[6, 7, 8, 9]

## Filter

- It is used to print only function, which satisfy the condition in Boolean
- It is used as filter and remove the unnessesary stuf.

In [32]:
l=[1,2,3,4,5]
r=list(filter(lambda x:x%2==0,l))
print(r)

[2, 4]

# Generators

- It is an iterable
- We can use it by `yield` statement.
- indexing not allow but it still be iterable by using loop.

In [33]:
def count():
    i=5
    while i>0:
        yield i
        i-=1
for i in count():
    print(i)

5
4
3
2
1

Replacing yield to resturn of a function to provide a result to its caller without destroying local variable.

Generator don't have memory restriction of list.

In [34]:
def infinite():
    while True:
        yield 7
c=0      # c is only to avoid error of inifnite running   
for i in infinite():
    print(i)
    c+=1
    if c==10:
        break

7
7
7
7
7
7
7
7
7
7

Finite Generator can be converted into list

In [35]:
def number(x):
    for i in range(x):
        if i%2==0:
            yield i
print(list(number(11)))

[0, 2, 4, 6, 8, 10]

### Q )

In [36]:
def seperate():
    word=" "
    for i in "Monis":
        word+=i
        yield word
print(list(seperate()))

[' M', ' Mo', ' Mon', ' Moni', ' Monis']

# Decorators

- It provide a way to modify function using other function.

In [37]:
def decor(func):
    def wrap():
        print("========")
        func()
        print("========")
    return wrap

def print_text():
    print("Monis Momin")
    
decorated=decor(print_text)

decorated()

========
Monis Momin
========

Python provide support to wrap a function in decorator by pre-pending the function define
with a decorator `name `and` @ `symbol

If we defining a function we can decorate it with the ` @ ` symbol.

In [38]:
def decor(func):
    def wrap():
        print("===========")
        func()
        print('===========')
    return wrap             # To make a nested function and return it, is important. To avoid an Error
@decor
def print_text():
    print("To be a great Programmer")

x=decor(print_text)    
x()
print('\n\n\n')
print_text()

===========
===========
To be a great Programmer
===========
===========




===========
To be a great Programmer
===========

My decorator

In [39]:
# If we don't write nested function and do not return it value.
def style(func):
    print("--+--+--+--+--+-")
    func()
    print("--+--+--+--+--+-")
@style
def name():
    print("The Dark_Prince")
    
name()

--+--+--+--+--+-
The Dark_Prince
--+--+--+--+--+-

TypeError: 'NoneType' object is not callable

In [40]:
def style(func):
    def wrap():
        
        print("--+--+--+--+--+-")
        func()
        print("--+--+--+--+--+-")
    return wrap    

@style
def name():
    print("The Dark_Prince")
 


name()

--+--+--+--+--+-
The Dark_Prince
--+--+--+--+--+-

# Recursion

To find Factorial

In [41]:
def factorial(x):
    if x==1:
        return 1
    return x*factorial(x-1)

print(factorial(5))

120

To check Even and Odd number

In [42]:
def is_even(x):
    if x==0:
        return True
    else:
        return is_odd(x-1)
def is_odd(x):
    return not is_even(x)

print(is_even(8))
print(is_even(9))

print(is_odd(3))
print(is_odd(4))

True
False
True
False

To find fibonacis number

In [43]:
def fib(n):
    if n==0 or n==1:
        return 1
    return fib(n-1)+fib(n-2)

fibo_list=[fib(i) for i in range(10)]
print(fibo_list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Set

- It is an type of Data Structure
- Created by `curly braces` or `set()`
- Show some funcationlity with list, such as `in` to check True or False.
- Set are unorder.
- It does't contain dublicate element

In [44]:
number={1,2,3,4,5,5,2,3}
word=set(["a",'b','c','d','a','c'])
print(number)
print(word)
print(3 in number)
print('a' in word)

{1, 2, 3, 4, 5}
{'c', 'b', 'd', 'a'}
True
True

###  Methods of Set

- To add element - `s.add()`
- To remove - ` s.remove() `
- To find length - `len(s) `

In [45]:
s={1,2,3,4,5,2,3,4,2,1}
print(s)

{1, 2, 3, 4, 5}

In [46]:
s.add(8)
print(s)

{1, 2, 3, 4, 5, 8}

In [47]:
s.remove(2)
print(s)

{1, 3, 4, 5, 8}

In [48]:
print(len(s))

5

In set, if we add element it automatically added to correct sequece.

In [49]:
s.add(2)
print(s)

{1, 2, 3, 4, 5, 8}

### Set can be combine using mathematical operation

-  Union operator =` | ` -->  To get total item present in both set 
- Intersection = ` &  `   -->  To get item in both 
- Difference = ` - ` -->  Get items in first set but not in the second set 
- Symmertric Difference = ` ^  ` -->  Get items in either set but not both

In [50]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

In [51]:
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
print(s1&s2)

{4, 5, 6}

In [53]:
print(s1-s2)

{1, 2, 3}

In [54]:
print(s1^s2)

{1, 2, 3, 7, 8, 9}